<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>Vue Boolzapp</title>
</head>

<body>

    <div id="app">
        <div class="w-100 vh-100" @click="removeMenu">
            <div class="container h-100">
                <div class="row h-100 flex-nowrap g-0">
                    <!-- left side -->
                    <div class="col-12 col-md-4 contact-list d-md-block" :class="{'d-none': !viewContacts}">
                        <div class="d-flex h-100 flex-column flex-nowrap">
                            <!-- io -->
                            <div class="w-100 header d-flex justify-content-between align-items-center p-2">
                                <div class="d-flex align-items-center">
                                    <img src="img/avatar_io.jpg" alt="my avatar" class="rounded-circle">
                                    <span class="px-1">Oder</span>
                                </div>
                                <ul class="d-flex list-unstyled m-0 fs-5">
                                    <li class="px-2 my-light-icons"><i class="fa-solid fa-circle-notch"></i></li>
                                    <li class="px-2 my-light-icons"><i class="fa-solid fa-message"></i></li>
                                    <li class="px-2 my-light-icons"><i class="fa-solid fa-ellipsis-vertical"></i></li>
                                </ul>
                            </div>
                            <!-- notifiche (azzurro) -->
                            <div class="w-100 notifications d-flex justify-content-start align-items-center p-3">
                                <div class="bell"><i class="fa-solid fa-bell-slash"></i></div>
                                <div class="px-2">
                                    <div class="fw-bold">Ricevi notifiche di nuovi messaggi</div>
                                    <a class="my-text-dark-grey" href="#">Attiva notifiche desktop</a>
                                </div>
                            </div>
                            <!-- searchbar -->
                            <div class="w-100 search p-2">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text rounded-0 bg-white my-light-icons px-4"
                                        id="addon-wrapping"><i class="fa-solid fa-magnifying-glass"></i></span>
                                    <input type="text" class="form-control rounded-0"
                                        placeholder="Cerca o inizia una nuova chat"
                                        aria-label="Cerca o inizia una nuova chat" aria-describedby="addon-wrapping"
                                        v-model="searchContact">
                                    <div class="my-cross" @click="searchContact = ''" v-if="searchContact !== ''"><i
                                            class="fa-solid fa-xmark"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- contatti -->
                            <div class="w-100 flex-grow-1 overflow-y-auto h-0">
                                <div class="d-flex align-items-start justify-content-between border-top p-2 ps-3 contact"
                                    v-for="contact in filteredContacts()"
                                    @click="activeContact = contact.id , viewContacts = !viewContacts"
                                    :class="{'active' : isActive(contact.id)}">
                                    <div class="d-flex align-items-start">
                                        <img :src="contact.avatar" :alt="contact.name" class="rounded-circle">
                                        <div class="px-2 overflow-hidden anteprima">
                                            <span class="fw-bold">{{contact.name}}</span>
                                            <div class="small-text">{{lastMessage(contact)}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="small-text">
                                        {{onlyHour(lastDate(contact))}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- right side -->
                    <div class="col-12 col-md-8 d-md-block" :class="{'d-none': viewContacts}">
                        <!-- default screen -->
                        <div class="w-100 h-100 default" v-if="activeContact === null">
                            <div
                                class="d-flex justify-content-center align-content-center align-items-center h-100 flex-column p-5">
                                <div class="display-1">
                                    <i class="fa-brands fa-html5 px-2"></i>
                                    <i class="fa-brands fa-css3-alt px-2"></i>
                                    <i class="fa-brands fa-square-js px-2"></i>
                                </div>
                                <h2 class="fw-bold display-5 pt-3">Boolzapp</h2>
                                <p class="text-center px-5 fw-bold fs-5">Un posto dove puoi scrivere ed inviare messaggi
                                    ai
                                    quali
                                    riceverai come risposte
                                    frasi totalmente casuali, provalo e vedrai che possono uscire delle conversazioni
                                    veramente divertenti!</p>
                            </div>
                        </div>
                        <!-- quando si seleziona un contatto -->
                        <div class="d-flex h-100 align-content-between flex-column" v-else>
                            <!-- right header -->
                            <div
                                class="w-100 header d-flex justify-content-between align-items-center p-2 border-start border-2">
                                <div class="d-flex align-items-center">
                                    <div class="fs-3 my-light-icons px-2 d-md-none"
                                        @click="viewContacts = !viewContacts , activeContact = null"><i
                                            class="fa-solid fa-arrow-left"></i>
                                    </div>

                                    <img :src="contacts[activeIndex].avatar" :alt="contacts[activeIndex].name"
                                        class="rounded-circle">

                                    <div class="px-2">
                                        <span class="fw-bold">{{contacts[activeIndex].name}}</span>
                                        <div class="last-acces" v-if="contacts[activeIndex].messages.length > 0">
                                            Ultimo accesso oggi alle
                                            {{onlyHour(lastDate(contacts[activeIndex]))}}</div>
                                    </div>
                                </div>
                                <ul class="d-flex list-unstyled m-0 fs-5">
                                    <li class="px-2 my-light-icons"><i class="fa-solid fa-magnifying-glass"></i></li>
                                    <li class="px-2 my-light-icons"><i class="fa-solid fa-paperclip"></i></li>
                                    <li class="px-2 my-light-icons"><i class="fa-solid fa-ellipsis-vertical"></i></li>
                                </ul>
                            </div>
                            <!-- messaggi -->
                            <div class="w-100 flex-grow-1 chat p-5 overflow-auto">
                                <div class="text-break" v-if="contacts[activeIndex].messages.length > 0"
                                    v-for="(message , index) in contacts[activeIndex].messages" :class="message.status">
                                    <div>
                                        {{message.message}}
                                        <span>{{onlyHour(message.date)}}</span>
                                        <div class="arrow" @click.stop="toggleMenu(index)"></div>
                                        <div class="menu d-none">
                                            <ul class="list-group list-group-flush rounded-2">
                                                <li class="list-group-item list-group-item-action">Info messaggio</li>
                                                <li class="list-group-item list-group-item-action text-danger"
                                                    @click="removeMessage(index)"><i class="fa-solid fa-trash-can"></i>
                                                    Cancella
                                                    messaggio</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- scrivere i messaggi -->
                            <div class="d-flex w-100 justify-content-evenly align-items-center header py-2">
                                <div class="my-dark-icons"><i class="fa-regular fa-face-smile"></i></div>
                                <input type="text" class="w-75 border-0 rounded-2 p-2" placeholder="Scrivi un messaggio"
                                    v-model="newMessage" @keyup.enter="sendMessage">
                                <div class="my-dark-icons" v-if="newMessage === ''"><i
                                        class="fa-solid fa-microphone"></i>
                                </div>
                                <div class="my-dark-icons send-message" v-else @click="sendMessage"><i
                                        class="fa-solid fa-paper-plane"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module" src="js/script.js"></script>
</body>

</html>